#registrations-new {
  input {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .actions {
    margin-top: 15px;
  }
  .field {
    margin: 10px 0;
  }
}
